*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
:root{
    --corfundo: rgb(244,234,222);
    --cornav: #3F1D21;
    --corletra: #750B1E;
    --white: #ffffff;
}
 
#funicona{
    width: 100vw;
    height: 100vh;
    background-color: var(--corfundo);
}

nav {
    background-color: #3F1D21;

}
 
#marmita{
   
    color: var(--white) ;
   
}
 
#lacarte{
    color: var(--white) ;
 
}
#self{
    color: var(--white) ;
   
}
#drink{
    color: var(--white) ;
 
}
#footer{
    background-color: var(--cornav);
}
#segunda{
    margin-top: 10%;
    margin-left: 2%;
    font-size: 50px;
    color: var(--corletra);
}
