*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --corfundo: rgb(244,234,222);
    --cornav: #3F1D21;
    --corletra: #750B1E;
    --white: #ffffff;
}

body {
    width: 100vw;
    height: 100vh;   
}

 

nav {
    background-color: #3F1D21;

}

section {
    background-color: #F4EADE;
}

footer  {
    background-color: #750B1E;
    color: #fff;

}

footer div section a {
    color: #ffffff;

}

a {
    text-decoration: none;

}

ul {
    list-style-type: none; /* Remove as bolinhas */
}

/* Alterar cor quando o link for clicado (visited) */
a:visited {
    color: gray;
}

a:hover {
    color: darkgray;
}

#opcoesPratos a {
    text-decoration: none;

}
