*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --corfundo: rgb(244,234,222);
    --cornav: #3F1D21;
    --corletra: #750B1E;
    --white: #ffffff;
}

body {
    width: 100vw;
    height: 100vh;   
}
 

nav {
    background-color: #3F1D21;

}


#footer{
    background-color: var(--cornav);
}
