* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lustria", serif;

     
}

body {
    background-color: #750B1E;
    width: 100vw;
    height: 100vh;   
}



nav {
    background-color: #3F1D21;

}


main {

    width: 100%;

}

main h1 {
    color: white;    
}

#sobre {
    background-image: url("/SiteCozinha/assets/flat-lay-delicious-brazilian-food-arrangement.jpg");
    padding: 50px 30px 50px 30px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    text-align: justify;
 
}
.fundo{
    background-color: #F4EADE;
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    font-size: 4em;
    color: #3F1D21;
}

.card2 {

    background-color:rgba(63, 29, 33, 0.7);
    border-radius: 10px;
    color: #fff;
    
}


p {
    color: aliceblue;
    font-size: 1.5em;
}

#banner {

}

.card {
    background-color: transparent;
    border: none;
}

.promocoes {

}

footer  {
    background-color: #750B1E;
    color: #fff;
}

footer div section a {
    color: #ffffff;

}

a {
    text-decoration: none;
}

/* Alterar cor quando o link for clicado (visited) */
a:visited {
    color: gray;
}

a:hover {
    color: darkgray;
}

