* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #750B1E;
    width: 100vw;
    height: 100vh;   
}



nav {
    background-color: #3F1D21;

}


main {

    width: 100%;

}

main h1 {
    color: white;    
}

#sobre {
    background-image: url("/SiteCozinha/assets/flat-lay-delicious-brazilian-food-arrangement.jpg");
    padding: 50px 30px 50px 30px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    text-align: justify;
 
}


p {
    color: aliceblue;
    font-size: 1.5em;
}

#banner {

}

.card {
    background-color: transparent;
    border: none;
}

footer {
    background-color: #3F1D21;
}
